  * {

        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Quicksand", sans-serif;


  }
  
  
  /* NAVBAR */


    #navbarNav2 a {
            color: #ffff;
            text-decoration: none;
            font-weight: bolder;
            font-size: 18px;
    }


    #navbarNav2 a:hover {

        text-decoration: underline;
    }


    /*HERO SECTION*/

    .hero-1 {
            height: 100vh;
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url("/sito/public/decorazione_servizio.webp");
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }


/*Sezione prodotti*/


    .btn-cards {

            width: 150px;
            height: 50px;

        }
    .card-img {

            box-shadow: 0 5px 10px rgba(0,0,0,0.5);
        }

        .card-img:hover {

          transform: scale(0.85);

        }

        .set_piatto {

          margin-top: 165px;
          text-align: center;

        }
        


  


     
/*FOOTER*/

footer {
    background-color: #343a40;
    color: #fff;
    padding: 3rem 0;
  }

  .social-icons a {
    font-size: 1.25rem;
  }



  /*PAGINA PIATTI */
.carousel-control-prev-icon,
.carousel-control-next-icon {
   
    filter: invert(0.1) sepia(1) saturate(0) hue-rotate(0deg) brightness(0.5) contrast(1.5);
    
}