  * {

        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Quicksand", sans-serif;


  }

  
  /* NAVBAR */


    #navbarNav2 a {
            color: #ffff;
            text-decoration: none;
            font-weight: bolder;
            font-size: 18px;
    }


    #navbarNav2 a:hover {

        text-decoration: underline;
    }

  

    /*HERO SECTION*/

    .hero-1 {
            height: 100vh;
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url("/sito/public/decorazione_servizio.webp");
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }

        .hero-1 button:hover {

     filter: opacity(0.8);
     cursor: pointer;

    }




    /*about*/


    .ctn-about {

      border-radius: 15px;
      overflow: hidden;
      background-color: #797d62;
      color: #fff;

    }





/*Sezione prodotti*/


    .products {
    }


    .btn-cards {

  
            background-color: #d9ae94;

        }

        .btn-cards:hover {


          filter:opacity(0.8);

        }
    .card-img {
  
            box-shadow: 0 5px 5px rgba(248, 247, 247, 0.949);
        }

        .products img {

          border-radius: 50px;
        }

        .card-img:hover {

          transform: scale(0.85);

        }

        .set_piatto {

          margin-top: 165px;
          text-align: center;

        }
        


  


     
/*FOOTER*/

footer {
    background-color: #997b66;
    color: #fff;
    padding: 3rem 0;
  }

  .social-icons a {
    font-size: 1.25rem;
  }



  /*PAGINA PIATTI */
.carousel-control-prev-icon,
.carousel-control-next-icon {
   
    filter: invert(0.1) sepia(1) saturate(0) hue-rotate(0deg) brightness(0.5) contrast(1.5);
    
}